* {
  box-sizing: border-box;
}

body {
  background-color: #9cfbca;
  font-family: "Roboto", sans-serif, system-ui;
  margin: 16px;
  color: #1b4332;
}

/* Grilla base */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.col-6 {
  width: calc(50% - 8px);
}

.col-12 {
  width: 100%;
}

section {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
}